.distill-site-nav {
  color: red;
  background-color: #268FD7;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: black;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: black;
}

.distill-site-header {
  color: black;
}

.distill-site-footer {
  color: black;
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
